<?xml version="1.0"?>
<configuration>
  
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
 
  <applicationSettings>
    <BO.Properties.Settings>
      <setting name="BO_wsSigpaDigitalizador_WsConsultarProcesso" serializeAs="String">
        <value>http://localhost/wsSIGPA/wsConsultarProcesso.asmx</value>
      </setting>
    </BO.Properties.Settings>
  </applicationSettings>
  
  <appSettings>
    <add key="URLWSSIGPA" value="http://localhost/integrador/wsConsultarProcesso.asmx"/>
    <add key="PORT" value=""/>
    <add key="TIMEOUT" value="3000"/>
    <!--!<add key="SIGPA_DIGITAL" value="Persist Security Info=False;database=sigpa_digital; Server=localhost;user id=root;pwd=cr3d@n12"/>-->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>

    <!-- Configuração para geração do PDF -->

    <add key="BEGINX" value="-10"/>
    <add key="BEGINY" value="-10"/>
    <add key="WIDTH" value="610"/>
    <add key="HEIGHT" value="860"/>

    <!-- Configuração para Diretórios Temporários de Saida do Scanner -->
    <add key="DIRPDF" value="C:\TempScannerPDF\"/>
    <add key="DIRIMGSCANNER" value="C:\TempScannerImages\"/>
    <add key="EXTIMG" value=".JPG"/>
    <add key="NOMEPASTADADOSCADASTRAIS" value="DADOS CADASTRAIS"/>
    <add key="NOMEPASTAPROCESSOS" value="PROCESSOS"/>
    
    
  </appSettings>
  <connectionStrings>
    <add name="SIGPA_DIGITAL" connectionString="Persist Security Info=False;database=sigpa_digital; Server=localhost;user id=root;pwd=1234"/>
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
